.navbar-toggler {
  margin-top:5px;
  cursor: pointer;
}

.navbar-toggler:focus {
  outline:0;
}

.navbar {
  background-color: #00bcd4;
}

.navbar-light .navbar-toggler {
  border: none;
}

.btn-secondary {
  background-color: transparent;
  border-color: transparent !important;
}

.btn-secondary:focus {
  background-color: transparent;
  border-color: transparent !important;
  outline: none;
}

.btn-secondary:active {
  background-color: transparent;
  border-color: transparent !important;
  outline: none;
}
