 <div class="row">
    <div class="col-sm-12">
      <img [src]="selectedRecipe.imagePath"
           alt="{{selectedRecipe.name}}"
           class="img-fluid"
           style="max-height: 350px;">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1 class="display-4">{{selectedRecipe.name}}</h1>
    </div>
  </div>

  <div class="row">
    <!--<div class="col-sm-12">-->
      <!--<div class="btn-group" appDropDown>-->
        <!--<button-->
          <!--type="button"-->
          <!--class="btn-outline-primary dropdown-toggle">-->
          <!--Manage Recipe-->
        <!--</button>-->
        <!--<ul class="dropdown-menu">-->
          <!--<li><a href="#">To Shopping List</a></li>-->
          <!--<li><a href="#">Edit Recipe</a></li>-->
          <!--<li><a href="#">Delete Recipe</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->

    <div class="dropdown">
      <a class="btn btn-outline-info dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Recipie
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" style="cursor: pointer" (click)="toShoppinglist()">To Shopping
          List</a>
        <a class="dropdown-item" style="cursor: pointer" (click)="onEdit()">Edit
          Button</a>
        <a class="dropdown-item" style="cursor: pointer">Delete Button</a>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      {{selectedRecipe.description}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let ingredient of selectedRecipe.ingredients">
            {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </ul>
    </div>
  </div>

