 <div class="row">
    <div class="col-sm-12">
      <img src="" alt="" class="img-fluid">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1 class="display-4">Recipe Name</h1>
    </div>
  </div>

  <div class="row">
    <!--<div class="col-sm-12">-->
      <!--<div class="btn-group">-->
        <!--<button-->
          <!--type="button"-->
          <!--class="btn-outline-primary dropdown-toggle">-->
          <!--Manage Recipe-->
        <!--</button>-->
        <!--<ul class="dropdown-menu">-->
          <!--<li><a href="#">To Shopping List</a></li>-->
          <!--<li><a href="#">Edit Recipe</a></li>-->
          <!--<li><a href="#">Delete Recipe</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->

    <div class="dropdown">
      <a class="btn btn-outline-info dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Recipie
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">To Shopping List</a>
        <a class="dropdown-item" href="#">Edit Button</a>
        <a class="dropdown-item" href="#">Delete Button</a>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      Description
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      Ingredients
    </div>
  </div>

