<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-outline-info">New Recipe</button>
  </div>
</div>
<hr>

<!--<div class="row">-->
  <!--<div class="col-sm-12">-->
    <!--<a href="#" class="list-group-item clearfix"></a>-->
      <!--<div class="pull-left">-->
        <!--<h4 class="list-group-item-heading">Recipe Name</h4>-->
        <!--<p class="list-group-item-text">Description</p>-->
      <!--</div>-->
    <!--<span class="pull-right">-->
      <!--<img src="" alt="" class="img-fluid" style="max-height: 50px;">-->
    <!--</span>-->
    <!--<app-recipe-item></app-recipe-item>-->
  <!--</div>-->
<!--</div>-->

<div class="row">
  <div class="col-sm-12">
    <app-recipe-item *ngFor="let recipeEl of recipes"
                     [recipe]="recipeEl">
    </app-recipe-item>
  </div>
</div>
