<div class="row">
  <div class="col-sm-12 col-md-8 offset-md-1 offset-sm-2"></div>
</div>
<form (ngSubmit)="onSignup(form)" #form="ngForm">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text"
           id="email"
           name="email"
           class="form-control"
           ngModel>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           id="password"
           name="password"
           class="form-control"
           ngModel>
  </div>
  <button class="btn btn-outline-info" type="submit">Sign Up</button>
</form>
