<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <form (ngSubmit)="onSignin(form)" #form="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text"
               id="email"
               name="email"
               class="form-control"
               ngModel
               required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               name="password"
               class="form-control"
               ngModel
               required>
      </div>
      <button class="btn btn-outline-info"
              type="submit"
              [disabled]="!form.valid">Sign In</button>
    </form>
  </div>
</div>
